
---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="login-page-container">
    <h1 class="login-title">管理者ログイン</h1>
    <a href="/api/auth/login" class="login-github-btn">GitHubでログイン</a>
  </main>
</BaseLayout>
